@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-success btn-block"><a href="../Empresa/RegistrarEmpresa"> Registrar Empresa</a></button>
    </div>
</div>