
@{
    ViewData["Title"] = "Sucesso";
}

<h2>Sucesso</h2>

<p>Relação criada entre empresa e associado. <a href="..\Associacao\CriarRelacao">Criar outro relacionamento</a> ou <a href="..\Empresa\Empresas">Voltar a Empresas</a></p>